/* Global Styles */

.box-sizing {
  box-sizing: border-box;
}

body {
  font-size: 1.15rem;
  font-family: 'Poppins', sans-serif;
  max-width: 80%;
  padding: 3rem 1rem;
  margin: auto;
  line-height: 1.25;
}

h1 {
  font-size: 30px;
  text-align: left;
  margin-top: -15px;
  margin-left: 5%;
  font-family: monospace;
}

h2 {
  font-size: 1rem;
  
}

input,
textarea {
  line-height: 1.25;
  width: 120%;
  height: 1.8rem;
  font-size: 1.15rem;
  border: 1px solid grey;
  margin-bottom: 1rem;
}

.payment_buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.payment_buttons button {
  padding: 10px 20px;
  margin: 0 5px;
  border: none;
  border-radius: 5px;
  background-color: #eaeaea;
  color: #333;
  cursor: pointer;
}

.payment_buttons button.active {
  background-color: #5545b5;
  color: #fff;
}

.payment_content {
  padding: 10px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.ln_box,
.bl_box {
  display: none;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.delivery-instructions label,
.shipping-label label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: bold;
}

.edelivery_form,
.shipping_label_form {
  width: 100%;
  height: 5rem;
}

.make_store {
  display: none;
}

.product {
  border: none;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  background-color: #FFFFFF;
  transition: box-shadow 0.3s ease-in-out;
}

.name_instructions {
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  color: #000;
  margin: 0 0 10px 0;
  padding: 0;
  border: none;
}

.button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 0.5rem;
  border: none;
  background-color: #333333;
  color: #FFFFFF;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.manage_sales_btn {
  padding: 7px 12px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  background-color: #5545b5;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  margin-right: -2%;
}

.button:hover {
  background-color: #555555;
}

.product:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product img {
  max-width: 100%;
}

.product .title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333333;
}

.product .description {
  font-size: 1rem;
  color: #666666;
}

.store_name {
  width: 96%;
  padding: 0.5rem;
  border: 1px solid #CCCCCC;
  border-radius: 0.25rem;
  font-size: 1rem;
  color: #333333;
  outline: none;
}

.store_name::placeholder {
  color: #999999;
}

.store_name:focus {
  border-color: #007BFF;
}

.product input,
.product select,
.product textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #CCCCCC;
    border-radius: 0.25rem;
    font-size: 1rem;
    color: #333333;
    outline: none;
    margin-bottom: 5px;
    max-width: 96%;
}

button {
  padding: 7px 12px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  background-color: #5545b5;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

button:hover {
  background-color: #806bf7;
}

.product .desc {
  width: calc(100% - 0.2rem);
  height: 5rem;
}

.plus_and_minus {
  margin-left: 0.2rem;
}

.view_store,
.blank_view {
  display: none;
}

.minicart {
  padding: 0.5rem;
  text-align: right;
  margin-bottom: 1rem;
  padding: 7px 12px;
  font-size: 12px;
  font-weight: bold;
}

.button-color {
  padding: 7px 12px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  background-color: #5545b5;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

.view_cart {
  padding: 7px 12px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  background-color: #5545b5;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

.black-bg {
  display: none;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.5;
  width: 100vw;
  height: 100vh;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  max-width: 560px;
  background-color: white;
  border-radius: 1rem;
  padding: 20px;
  color: black;
  text-align: center;
  word-wrap: break-word;
  display: none;
}

.payment_box {
  max-width: 400px;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
  word-wrap: break-word;
}

.qr_code {
  width: 100%;
}

.ln_box {
  display: none;
}

.title {
  display: none;
  margin-left: -5%;
  font-size: 15px;
  color: #000;
  margin-bottom: 10px;
}

.order {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.public_link {
  display: none;
}

.store_name {
  margin-top: 1rem;
}

.order_box {
  width: 100%;
}

.delivery_info {
  max-width: 35ch;
  word-wrap: break-word;
}

.toast {
  opacity: 0;
  width: 250px;
  background-color: #5545b5;
  color: white;
  text-align: center;
  border-radius: 0.2rem;
  padding: 0.75rem;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 0rem;
  transform: translateX(-50%);
  transition: opacity 0.5s, bottom 0.5s;
}

@media screen and (max-width: 600px) {
  body {
      font-size: 1.15rem;
      font-family: Arial, sans-serif;
      max-width: 95%;
      padding: 3rem 1rem;
      margin: auto;
      line-height: 1.25;
  }

  .product input,
  .product select,
  .product textarea {
      width: calc(100%);
  }

  .product .desc {
      width: calc(100%);
  }

  .product button {
      width: calc(100%);
      margin-bottom: 1rem;
  }

  .order {
      flex-wrap: wrap;
  }

  .payment_info {
      border-top: 1px solid black;
      padding-top: 1rem;
      margin-top: 1rem;
  }

  .plus_and_minus {
      margin-left: 0;
  }
}

  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;

  }
  
  h1 {
    text-align: center;
    margin-bottom: 0%;
  }
  
  h2 {
    font-size: 1em;
    font-weight: bold;
    color: #000;
    margin: 0 0 10px 0;
    padding: 0;
    border: none;
  }
  /* Header */
  
  header {
    padding: 10px 0;
  }
  
  /* Basics Section */
  
  .basics {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .big_title {
    margin-bottom: 20px;
  }
  
  .big_buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .big_button {
    display: inline-block;
    margin: 10px 10px;
    padding: 7px 12px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #5545b5;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  }
  
  /* Signup Section */
  
  .signup {
    display: none;
    border: 1px solid black;
    border-radius: 1rem;
    padding: 1rem;
    max-width: 25rem;
    margin: auto;
    background-color: white;
    filter: drop-shadow(0 0 3px #000);
  }
  
  .signup-header {
    margin-bottom: 20px;
  }
  
  .signup-step {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border: 1px solid black;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .instruction {
    font-weight: bold;
  }
  
  .blue {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .magic-string-box {
    margin-bottom: 20px;
  }
  
  .magic-string-header {
    font-weight: bold;
  }
  
  .back_btn-container {
    text-align: right;
    margin: auto;
    margin-bottom: 1rem;
    max-width: 25rem;
    display: none; /* Add this line to hide the container by default */
  }
  
  /* Show the back button container only when the modal is open */
  .back_btn-container.hidden {
    display: none;
  }
  
  .back_btn {
    padding: 7px 12px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #5545b5;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  }
  
  /* Styling for the blue background color on hover or focus */
  
  .big_button:hover,
  .big_button:focus,
  .blue:hover,
  .blue:focus,
  .back_btn:hover,
  .back_btn:focus {
    background-color: #3b327d;
  }


  .store_product {
    background-color: #F8F8F8;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    width: 100%;
    max-width: 20rem;
    text-align: center;
    padding: 5px;
    margin-bottom: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product_image {
  border: 1px solid #E0E0E0;
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  margin: 0 auto 16px;
  display: block;
  border-radius: 8px;
}



@media screen and (max-width: 768px) {
    .store_product {
        max-width: 100%;
    }
}

.product_name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}

.product_price {
    font-size: 16px;
    margin-bottom: 8px;
}

.shipping_zone {
    display: none;
}

.view_product_btn,
.add_to_cart {
    padding: 7px 12px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    background-color: #5545b5;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

.view_product_btn {
    margin-bottom: 8px;
}

.view_product_btn:hover,
.add_to_cart:hover {
    background-color: #806bf7;
}

/* Hide the "Preview" button */

  .product-preview-button {
    display: none; /* Hide the button with this class */
  }

  .preview {
    display: none;
  }
  
.delivery-instructions label {
  font-size: 1rem;
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
  color: #333; /* Adjust color as per your preference */
}

/* Minimalist design for the textarea */
.delivery-instructions textarea {
  width: 90%;
  height: 5rem;
  padding: 0.5rem;
  border: 1px solid #ccc; /* Adjust border color as per your preference */
  border-radius: 4px;
  resize: vertical; /* Allow vertical resizing if needed */
  font-size: 1rem;
  color: #555; /* Adjust color as per your preference */
}


.progress {
  display: none;
  text-align: center;
  padding: 1rem;
}

.progress h2 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: normal;
}

.progressOutline {
  height: 1em;
  border: 1px solid #ccc;
  border-radius: 25px;
  overflow: hidden;
}

.progressBar {
  height: 1em;
  background-color: #5545b5;
  width: 0%;
  transition: width 1s;
}

.status {
  margin-top: 1rem;
  font-size: 1rem;
  color: #666;
}


.container {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.back_btn-container {
  text-align: left;
}

.back_btn {
  background-color: #5545b5;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

.signup {
  margin-top: 20px;
  text-align: center;
}

.signup-header {
  font-size: 18px;
  margin-bottom: 20px;
  color: #555;
}

.signup-step {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.circle {
  width: 25px;
  height: 25px;
  background-color: #5545b5;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.instruction {
  font-size: 16px;
  color: #333;
}

.blue {
  color: #5545b5;
  cursor: pointer;
}

.magic-string-box {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #f9f9f9;
}

.magic-string-header {
  font-size: 16px;
  color: #555;
  margin-bottom: 10px;
  display: none;
}

.magic-string {
  font-size: 20px;
  text-align: center;
  color: #333;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  word-wrap: break-word; /* Added word-wrap to allow text wrapping */
  max-width: 100%;
}



.minicart_item_count {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  padding: 2px 8px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Apply a CSS reset to remove default styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Minimalist styles for the container */
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin-top: 15px;
}

/* Back button styles */
.back-btn {
  display: inline-block;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

/* Heading styles */
h2 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;


}

/* Item list styles */
.items {
  margin-bottom: 20px;
}

/* Total, Estimated Delivery, and Shipping styles */
.total, .edelivery, .shipping {
  margin-bottom: 10px;
  color: #666;
}

/* Checkout button styles */
.checkout-btn {
  text-align: right;
}





